@{
    XL_DU_LIEU Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var Cong_ty = Du_lieu.Cong_ty;
    var Danh_sach_Phim = Du_lieu.Danh_sach_Phim;
    var Phim = (XL_PHIM)Session["Phim"];
    var Dat_ve = (XL_DAT_VE)Session["Dat_ve"];
    var Danh_sach_Ghe_dat = (List<XL_GHE>)Session["Danh_sach_Ghe_Chon"];
    var Chuoi_HTML_Ghe_dat = "<ul>";
    Danh_sach_Ghe_dat.ForEach(x =>
    {
        Chuoi_HTML_Ghe_dat += "<li>"+x.Ma_so+"</li>";
    });
    Chuoi_HTML_Ghe_dat += "</ul>";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Raw(Phim.Ten)
        <br />
        @Html.Raw(Dat_ve.Suat_chieu.Rap.Ten)
        <br />
        @Html.Raw(Dat_ve.Suat_chieu.Phong_chieu.Ten)
        @Html.Raw(Chuoi_HTML_Ghe_dat)
    </div>
</body>
</html>
