.RATING {
    font-size: 11px;
    height: 40px;
    background: url(https://www.galaxycine.vn/website/images/ic_star_yellow.png) no-repeat;
    background-size: 24px;
    padding-left: 26px;
    margin: 15px 0;
}

h3:after {
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: '';
    background-color: #f26b38;
}

label {
    margin-bottom: .5rem;
}

ul > li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #ced0da;
    color: #43464b;
    cursor: pointer;
}

    ul > li:hover {
        border: 1px solid #f26b38;
        color: #f26b38;
    }
