
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: white;
    color: brown;
}

a {
    color: #008CBA;
}

.TIEU_DE {
    padding: 20px;
}

.TEN_HE_THONG {
    font-size: 15pt;
    padding: 5px;
    color: red;
    text-align: left;
}

.GHI_CHU {
    font-size: 12pt !important;
    color: brown !important;
}

.NGUOI_DUNG {
    font-size: 12pt;
    padding: 5px;
    font-weight: lighter;
    text-align: right;
}

.AVATAR {
    width: 50px;
    height: 50px;
    border: 1px solid silver;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.DANH_SACH_CHUC_NANG {
    border: 1px solid #e7e7e7;
    padding: 0;
    background: black;
    clear: both;
}

.CHUC_NANG {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
}

    .CHUC_NANG:hover:not(.CHON) {
        background-color: #f26b38;
    }

.CHON {
    background: #f26b38;
    border: 1px solid #f26b38;
    color: white;
    font-weight: bold;
}

.KHUNG_CHUC_NANG {
    height: 83vh;
    width: 100vw;
    border: none;
}
