@{
    var Ung_dung = XL_UNG_DUNG.Khoi_dong_Ung_dung();
    //******************* Khai báo và Khởi động giá trị đầu cho Biến  ********************
    var Ma_so_Chuc_nang = Request["Th_Ma_so_Chuc_nang"]; // Biến Nhập
    if (Ma_so_Chuc_nang == null) { Ma_so_Chuc_nang = "KHOI_DONG"; };

    var Chuoi_HTML_Thong_bao = "";
    if (Ma_so_Chuc_nang == "KHOI_DONG")
    {
        Chuoi_HTML_Thong_bao = "<div class='alert alert-info' >Xin vui lòng Nhập Tên đăng nhập và Mật khẩu"
            + "<br />Click Đồng ý " + "</div>";
    }
    else if (Ma_so_Chuc_nang == "DANG_NHAP")
    {
        var Ten_Dang_nhap = Request["Th_Ten_Dang_nhap"];
        var Mat_khau = Request["Th_Mat_khau"];
        var Nguoi_dung = Ung_dung.Dang_nhap(Ten_Dang_nhap, Mat_khau);
        if (Nguoi_dung != null) { Response.Redirect("MH_Chinh.cshtml"); }
        else
        {
            Chuoi_HTML_Thong_bao = "<div  class='alert alert-danger' >Đăng nhập không hợp lệ"
           + "<br />Xin vui lòng Nhập <b>lại</b> Tên đăng nhập và Mật khẩu" + "</div>";
        }
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <form method="post">

        <div class="container-fluid">
            <div>
                <div class="alert" style="height:10px">
                    Đăng nhập
                </div>
                <div class="alert" style="height:30px">
                    <input name="Th_Ten_dang_nhap" required="required"
                           spellcheck="false" autocomplete="off" />
                </div>
                <div class="alert" style="height:30px">
                    <input name="Th_Mat_khau" type="password" required="required"
                           spellcheck="false" autocomplete="off" />
                </div>
                <div class="alert" style="height:40px">
                    <input name="Th_Ma_so_Chuc_nang" type="hidden" value="DANG_NHAP" />
                    <button class="btn btn-danger" type="submit">Đồng ý</button>
                </div>
            </div>
            @Html.Raw(Chuoi_HTML_Thong_bao)
        </div>
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>