@{
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var Cong_ty = Du_lieu.Cong_ty;
    var Danh_sach_Nhan_vien = Cong_ty.Danh_sach_Nhan_vien;

    //******************* Khai báo Biến  ********************
    var Ten_Dang_nhap = "";
    var Mat_khau = "";// Biến Nhập liệu
    var Nhan_vien = new XL_NHAN_VIEN_BAN_VE();  // Biến  Kết quả

    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
    if (Request["Th_Ten_Dang_nhap"] != null) // Xử lý Biến cố
    {
        Ten_Dang_nhap = Request["Th_Ten_Dang_nhap"];
        Mat_khau = Request["Th_Mat_khau"];

        var Hop_le = Danh_sach_Nhan_vien.Any(
                 x => x.Ten_Dang_nhap == Ten_Dang_nhap
                  && x.Mat_khau == Mat_khau);
        if (Hop_le)
        {
            Nhan_vien = Danh_sach_Nhan_vien.FirstOrDefault(
                                x => x.Ten_Dang_nhap == Ten_Dang_nhap
                                      && x.Mat_khau == Mat_khau);
        }

    }

    //******************* Kết xuất  **********
    var Chuoi_HTML_Thong_bao = "";
    if (Ten_Dang_nhap == "") // Người dùng chưa nhập liệu
    {
        Chuoi_HTML_Thong_bao = "<div class='alert alert-info' >Xin vui lòng Nhập Tên Đăng nhập và Mật khẩu"
            + "<br />Click Đồng ý </div>";
    }
    else if (Nhan_vien.Ma_so == "") // Người dùng đã nhập liệu - Không Hợp lệ
    {
        Chuoi_HTML_Thong_bao = "<div class='alert alert-warning' >Đăng nhập không hợp lệ"
              + "<br />Xin vui lòng Nhập <b>lại</b> Tên Đăng nhập và Mật khẩu" + "</div>";
    }
    else if (Nhan_vien.Ma_so != "") // Người dùng đã nhập liệu - Hợp lệ
    {
        Session["Nhan_vien_Dang_nhap"] = Nhan_vien;// Bảo mật
        Response.Redirect("MH_Chinh.cshtml");
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <form method="post">
        <div class="container-fluid">
            <div>
                <div class="alert" style="height:10px">
                    Đăng nhập
                </div>
                <div class="alert" style="height:30px">
                    <input name="Th_Ten_Dang_nhap"
                           spellcheck="false" autocomplete="off" value="@Ten_Dang_nhap" />
                </div>
                <div class="alert" style="height:30px">
                    <input name="Th_Mat_khau" type="password"
                           spellcheck="false" autocomplete="off" value="@Mat_khau" />
                </div>
                <div class="alert" style="height:40px">
                    <button class="btn btn-danger" type="submit">Đồng ý</button>
                </div>
            </div>
            @Html.Raw(Chuoi_HTML_Thong_bao)
        </div>
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
