@{
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var Cong_ty = Du_lieu.Cong_ty;
    var Danh_sach_Rap = Du_lieu.Cong_ty.Danh_sach_Rap;
    var Danh_sach_Phim = Du_lieu.Danh_sach_Phim;
    //******************* Khai báo Biến  ********************
    var Ma_so = (string)Session["Ma_so_Phim"];
    var Phim = Du_lieu.Tim_Phim(Ma_so, Danh_sach_Phim);
   // var Chuoi_Html_Suat_chieu = Du_lieu.Tao_Chuoi_Suat_chieu(Phim, Danh_sach_Rap);
    var Chuoi_Html_Phim = Du_lieu.Tao_Chuoi_Chi_tiet_Phim(Phim);
    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="DD_Chi_tiet_Phim.css?v=@DateTime.Now.Ticks" type="text/css" />
    <title></title>
</head>

<body>
    <div class="container" style="padding-top:20px;">
        <h3>LỊCH CHIẾU</h3>
        <form style="margin:30px 0px;">
            <label for="Ngay">Chọn ngày</label>
            <input id="Ngay" type="date" value="2018-02-09" onchange="chonNgay(this.value)" style="margin-left:20px"/>
            <input id="Ma_so_Phim" type="hidden" value="@Phim.Ma_so" />
        </form>
        <div id="Kq">

        </div>
      @*  @Html.Raw(Chuoi_Html_Suat_chieu)*@
        @Html.Raw(Chuoi_Html_Phim)
    </div>
</body>
</html>
<script>
    function chonNgay(str) {
        var xhttp;
        if (str == "") {
            document.getElementById("Kq").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("Kq").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "MH_Xu_ly_Ajax.cshtml?Ma_so_Xu_ly=CHON_NGAY&Ma_so_Phim=" + Ma_so_Phim.value + "&Ngay=" + str, true);
        xhttp.send();
    }
    chonNgay(Ngay.value);
</script>