@{
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    Session["Chuc_nang_Chon"] = Path.GetFileName(Request.Path).Replace(".cshtml", "");
    var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var Danh_sach_Phim = Du_lieu.Danh_sach_Phim;

    //******************* Khai báo Biến  ********************
    var Chuoi_Tra_cuu = Session["Chuoi_Tra_cuu"].ToString();
    var Danh_sach_Phim_Xem = Danh_sach_Phim;
    int So_luong = Danh_sach_Phim.Count();

    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
    if (Chuoi_Tra_cuu != null)
    {
        Danh_sach_Phim_Xem = Du_lieu.Tra_cuu_Phim(Chuoi_Tra_cuu, Danh_sach_Phim);
        Danh_sach_Phim_Xem = Danh_sach_Phim_Xem.OrderBy(Mon_an => Mon_an.Ten).ToList();
        So_luong = Danh_sach_Phim_Xem.Count;
    }

    //******************* Kết xuất  **********
    var Chuoi_HTML_Danh_sach_Phim = Du_lieu.Tao_Chuoi_HTML_Danh_sach_Phim(Danh_sach_Phim_Xem);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="DD_Xem_Danh_sach.css?v=@DateTime.Now.Ticks" type="text/css" />
    <title></title>
</head>

<body>
    <div class="container">
        <form id="HE_THONG" name="HE_THONG" method="post">
            @if (Danh_sach_Phim_Xem.Count > 0)
            {
                <div>
                    Hiện tại có @So_luong phim
                    @if (Chuoi_Tra_cuu.Trim() != "")
                    {
                        <span>thỏa tiêu chí <strong>@Chuoi_Tra_cuu</strong></span>
                    }
                </div>

                <div class="DANH_SACH">
                    @Html.Raw(Chuoi_HTML_Danh_sach_Phim)
                </div>
            }
        </form>
    </div>
</body>
</html>
